In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/opt/data/in_rolls/in_rolls_state_name_age_sex.csv.gz')
df

/opt/venv3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2785: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

                        elector_name age     sex    state
0                        PINTU DATTA  38    Male  andaman
1                       SUSHILA DEVI  39  Female  andaman
2                       BALA KRISHNA  29    Male  andaman
3                     CHANDRA SEKHAR  45    Male  andaman
4                           SIKANDER  49    Male  andaman
5                        MANIMECALAI  31  Female  andaman
6                              ELMER  23  Female  andaman
7                     MARIANUS TOPPO  47    Male  andaman
8                             WILSON  27    Male  andaman
9                       JYOTHI KIRAN  42  Female  andaman
10                       ALEXUS EKKA  40    Male  andaman
11                        MINOL EKKA  37    Male  andaman
12         SURENDRA NATH SINGH YADAV  48    Male  andaman
13                         JOHN MINJ  36    Male  andaman
14                         FELICITUS  36  Female  andaman
15                       AZIZA BEGUM  33  Female  andaman
16                             AMUDA  31  Female  andaman
17                    RAVIKANT SINGH  28    Male  andaman
18                       CHOTE MEHAR  24    Male  andaman
19                          NAZARENE  27  Female  andaman
20                          HARI RAM  43    Male  andaman
21                 UMESH KUMAR PATEL  32    Male  andaman
22                    BHAJNATH MAJHI  47    Male  andaman
23                RAM SHUNDAR SHARMA  27    Male  andaman
24            CHINTALA SHANMOKHA RAO  38    Male  andaman
25                          SRINIVAS  45    Male  andaman
26                RAVI SHANKAR YADAV  28    Male  andaman
27                        AJAY KUMAR  31    Male  andaman
28                     ROJALIYA EKKA  25  Female  andaman
29                           RECHEAL  45  Female  andaman
...                              ...  ..     ...      ...
35683881          MABU SHAREEF SHAIK  24    Male   andhra
35683882              KHAJABEE SHAIK  37  Female   andhra
35683883          RAMTHU BASHA SHAIK  45    Male   andhra
35683884                      HOSTEL  44    Male   andhra
35683885                      HOSTEL  38  Female   andhra
35683886               HUSSAIN SAYED  21    Male   andhra
35683887     HAREESH KUMAR TANGUTURU  23    Male   andhra
35683888      HARI KRISHNA TANGUTURU  22    Male   andhra
35683889         MUNTAJ BEGAM SAYYAD  44  Female   andhra
35683890            SUBBARATHNAMMA T  42  Female   andhra
35683891        HASEENA BEGAM SAYYAD  71  Female   andhra
35683892     VENKATASUBBAMMA KATAKAM  56  Female   andhra
35683893             SUPRAJA KATAKAM  26  Female   andhra
35683894            VENKATA SUBBAIAH  34    Male   andhra
35683895             PITCHAIAH PAVAN  28    Male   andhra
35683896          JARINA BEGAM SHAIK  36  Female   andhra
35683897         SREENIVASULU KONETI  62    Male   andhra
35683898             SREDEVI NAREDDY  43  Female   andhra
35683899  VENKATA SUBBAIAH RADDUGARE  63    Male   andhra
35683900                ZEHARA SHAIK  25  Female   andhra
35683901       SHAHIDA BEE ERRABALLE  40  Female   andhra
35683902                KAVITHA KESA  38  Female   andhra
35683903         SAI AKHIL KANDANURU  18    Male   andhra
35683904         LAKSHMI DEVI MADDAM  20  Female   andhra
35683905     VARALAKSHMI MUTYALAPADU  22  Female   andhra
35683906              KAILASH BHOPLE  18    Male   andhra
35683907        VENKATAMMA MADISETTY  54  Female   andhra
35683908           SIVAMMA BALISETTI  31  Female   andhra
35683909                 AMEER SHAIK  45    Male   andhra
35683910              HARI RAMISETTY  18    Male   andhra

[35683911 rows x 4 columns]

In [3]:
# Take out null elector_name and change to upper case
df.dropna(subset=['elector_name'], inplace=True)
df.elector_name = df.elector_name.str.lower()

In [4]:
# Take out null and invalid age
df.dropna(subset=['age'], inplace=True)
df.drop(df[df.age.str.len() > 3].index, inplace=True)
df.age = df.age.astype(int)
df['birth_year'] = 2017 - df.age

In [5]:
# Take out null in sex
df.dropna(subset=['sex'], inplace=True)
# Change lower case
df.sex = df.sex.str.lower()

* when we have more than 2 words, we should use the 1st word as first name
* we can ignore rows where first_name < 2 characters
* same for where last_name < 2 characters
* and we can write than when we are describing the results
* and i suppose we need to either ignore names with just 1 word though we can assume 1 word names (not 1 character) as the first name

In [6]:
df['name_wc'] = df.elector_name.apply(lambda c: len(c.split()))

In [7]:
df['first_name'] = None
df['last_name'] = None

In [8]:
df.loc[df.name_wc == 1, 'first_name'] = df.elector_name
df

,elector_name,age,sex,state,birth_year,name_wc,first_name,last_name
0,pintu datta,38,male,andaman,1979,2,None,None
1,sushila devi,39,female,andaman,1978,2,None,None
2,bala krishna,29,male,andaman,1988,2,None,None
3,chandra sekhar,45,male,andaman,1972,2,None,None
4,sikander,49,male,andaman,1968,1,sikander,None
5,manimecalai,31,female,andaman,1986,1,manimecalai,None
6,elmer,23,female,andaman,1994,1,elmer,None
7,marianus toppo,47,male,andaman,1970,2,None,None
8,wilson,27,male,andaman,1990,1,wilson,None
9,jyothi kiran,42,female,andaman,1975,2,None,None
10,alexus ekka,40,male,andaman,1977,2,None,None
11,minol ekka,37,male,andaman,1980,2,None,None
12,surendra nath singh yadav,48,male,andaman,1969,4,None,None
13,john minj,36,male,andaman,1981,2,None,None
14,felicitus,36,female,andaman,1981,1,felicitus,None
15,aziza begum,33,female,andaman,1984,2,None,None
16,amuda,31,female,andaman,1986,1,amuda,None
17,ravikant singh,28,male,andaman,1989,2,None,None
18,chote mehar,24,male,andaman,1993,2,None,None
19,nazarene,27,female,andaman,1990,1,nazarene,None
20,hari ram,43,male,andaman,1974,2,None,None
21,umesh kumar patel,32,male,andaman,1985,3,None,None
22,bhajnath majhi,47,male,andaman,1970,2,None,None
23,ram shundar sharma,27,male,andaman,1990,3,None,None
24,chintala shanmokha rao,38,male,andaman,1979,3,None,None
25,srinivas,45,male,andaman,1972,1,srinivas,None
26,ravi shankar yadav,28,male,andaman,1989,3,None,None
27,ajay kumar,31,male,andaman,1986,2,None,None
28,rojaliya ekka,25,female,andaman,1992,2,None,None
29,recheal,45,female,andaman,1972,1,recheal,None
...,...,...,...,...,...,...,...,...
35683881,mabu shareef shaik,24,male,andhra,1993,3,None,None
35683882,khajabee shaik,37,female,andhra,1980,2,None,None
35683883,ramthu basha shaik,45,male,andhra,1972,3,None,None
35683884,hostel,44,male,andhra,1973,1,hostel,None
35683885,hostel,38,female,andhra,1979,1,hostel,None
35683886,hussain sayed,21,male,andhra,1996,2,None,None
35683887,hareesh kumar tanguturu,23,male,andhra,1994,3,None,None
35683888,hari krishna tanguturu,22,male,andhra,1995,3,None,None
35683889,muntaj begam sayyad,44,female,andhra,1973,3,None,None
35683890,subbarathnamma t,42,female,andhra,1975,2,None,None
35683891,haseena begam sayyad,71,female,andhra,1946,3,None,None
35683892,venkatasubbamma katakam,56,female,andhra,1961,2,None,None
35683893,supraja katakam,26,female,andhra,1991,2,None,None
35683894,venkata subbaiah,34,male,andhra,1983,2,None,None
35683895,pitchaiah pavan,28,male,andhra,1989,2,None,None
35683896,jarina begam shaik,36,female,andhra,1981,3,None,None
35683897,sreenivasulu koneti,62,male,andhra,1955,2,None,None
35683898,sredevi nareddy,43,female,andhra,1974,2,None,None
35683899,venkata subbaiah raddugare,63,male,andhra,1954,3,None,None
35683900,zehara shaik,25,female,andhra,1992,2,None,None
35683901,shahida bee erraballe,40,female,andhra,1977,3,None,None
35683902,kavitha kesa,38,female,andhra,1979,2,None,None
35683903,sai akhil kandanuru,18,male,andhra,1999,3,None,None
35683904,lakshmi devi maddam,20,female,andhra,1997,3,None,None
35683905,varalakshmi mutyalapadu,22,female,andhra,1995,2,None,None
35683906,kailash bhople,18,male,andhra,1999,2,None,None
35683907,venkatamma madisetty,54,female,andhra,1963,2,None,None
35683908,sivamma balisetti,31,female,andhra,1986,2,None,None
35683909,ameer shaik,45,male,andhra,1972,2,None,None
35683910,hari ramisetty,18,male,andhra,1999,2,None,None

In [9]:
df.loc[df.name_wc >= 2, 'first_name'] = df.elector_name.apply(lambda c: c.split()[0])
df

,elector_name,age,sex,state,birth_year,name_wc,first_name,last_name
0,pintu datta,38,male,andaman,1979,2,pintu,None
1,sushila devi,39,female,andaman,1978,2,sushila,None
2,bala krishna,29,male,andaman,1988,2,bala,None
3,chandra sekhar,45,male,andaman,1972,2,chandra,None
4,sikander,49,male,andaman,1968,1,sikander,None
5,manimecalai,31,female,andaman,1986,1,manimecalai,None
6,elmer,23,female,andaman,1994,1,elmer,None
7,marianus toppo,47,male,andaman,1970,2,marianus,None
8,wilson,27,male,andaman,1990,1,wilson,None
9,jyothi kiran,42,female,andaman,1975,2,jyothi,None
10,alexus ekka,40,male,andaman,1977,2,alexus,None
11,minol ekka,37,male,andaman,1980,2,minol,None
12,surendra nath singh yadav,48,male,andaman,1969,4,surendra,None
13,john minj,36,male,andaman,1981,2,john,None
14,felicitus,36,female,andaman,1981,1,felicitus,None
15,aziza begum,33,female,andaman,1984,2,aziza,None
16,amuda,31,female,andaman,1986,1,amuda,None
17,ravikant singh,28,male,andaman,1989,2,ravikant,None
18,chote mehar,24,male,andaman,1993,2,chote,None
19,nazarene,27,female,andaman,1990,1,nazarene,None
20,hari ram,43,male,andaman,1974,2,hari,None
21,umesh kumar patel,32,male,andaman,1985,3,umesh,None
22,bhajnath majhi,47,male,andaman,1970,2,bhajnath,None
23,ram shundar sharma,27,male,andaman,1990,3,ram,None
24,chintala shanmokha rao,38,male,andaman,1979,3,chintala,None
25,srinivas,45,male,andaman,1972,1,srinivas,None
26,ravi shankar yadav,28,male,andaman,1989,3,ravi,None
27,ajay kumar,31,male,andaman,1986,2,ajay,None
28,rojaliya ekka,25,female,andaman,1992,2,rojaliya,None
29,recheal,45,female,andaman,1972,1,recheal,None
...,...,...,...,...,...,...,...,...
35683881,mabu shareef shaik,24,male,andhra,1993,3,mabu,None
35683882,khajabee shaik,37,female,andhra,1980,2,khajabee,None
35683883,ramthu basha shaik,45,male,andhra,1972,3,ramthu,None
35683884,hostel,44,male,andhra,1973,1,hostel,None
35683885,hostel,38,female,andhra,1979,1,hostel,None
35683886,hussain sayed,21,male,andhra,1996,2,hussain,None
35683887,hareesh kumar tanguturu,23,male,andhra,1994,3,hareesh,None
35683888,hari krishna tanguturu,22,male,andhra,1995,3,hari,None
35683889,muntaj begam sayyad,44,female,andhra,1973,3,muntaj,None
35683890,subbarathnamma t,42,female,andhra,1975,2,subbarathnamma,None
35683891,haseena begam sayyad,71,female,andhra,1946,3,haseena,None
35683892,venkatasubbamma katakam,56,female,andhra,1961,2,venkatasubbamma,None
35683893,supraja katakam,26,female,andhra,1991,2,supraja,None
35683894,venkata subbaiah,34,male,andhra,1983,2,venkata,None
35683895,pitchaiah pavan,28,male,andhra,1989,2,pitchaiah,None
35683896,jarina begam shaik,36,female,andhra,1981,3,jarina,None
35683897,sreenivasulu koneti,62,male,andhra,1955,2,sreenivasulu,None
35683898,sredevi nareddy,43,female,andhra,1974,2,sredevi,None
35683899,venkata subbaiah raddugare,63,male,andhra,1954,3,venkata,None
35683900,zehara shaik,25,female,andhra,1992,2,zehara,None
35683901,shahida bee erraballe,40,female,andhra,1977,3,shahida,None
35683902,kavitha kesa,38,female,andhra,1979,2,kavitha,None
35683903,sai akhil kandanuru,18,male,andhra,1999,3,sai,None
35683904,lakshmi devi maddam,20,female,andhra,1997,3,lakshmi,None
35683905,varalakshmi mutyalapadu,22,female,andhra,1995,2,varalakshmi,None
35683906,kailash bhople,18,male,andhra,1999,2,kailash,None
35683907,venkatamma madisetty,54,female,andhra,1963,2,venkatamma,None
35683908,sivamma balisetti,31,female,andhra,1986,2,sivamma,None
35683909,ameer shaik,45,male,andhra,1972,2,ameer,None
35683910,hari ramisetty,18,male,andhra,1999,2,hari,None

In [10]:
df.loc[df.name_wc >= 2, 'last_name'] = df.elector_name.apply(lambda c: c.split()[-1])
df

,elector_name,age,sex,state,birth_year,name_wc,first_name,last_name
0,pintu datta,38,male,andaman,1979,2,pintu,datta
1,sushila devi,39,female,andaman,1978,2,sushila,devi
2,bala krishna,29,male,andaman,1988,2,bala,krishna
3,chandra sekhar,45,male,andaman,1972,2,chandra,sekhar
4,sikander,49,male,andaman,1968,1,sikander,None
5,manimecalai,31,female,andaman,1986,1,manimecalai,None
6,elmer,23,female,andaman,1994,1,elmer,None
7,marianus toppo,47,male,andaman,1970,2,marianus,toppo
8,wilson,27,male,andaman,1990,1,wilson,None
9,jyothi kiran,42,female,andaman,1975,2,jyothi,kiran
10,alexus ekka,40,male,andaman,1977,2,alexus,ekka
11,minol ekka,37,male,andaman,1980,2,minol,ekka
12,surendra nath singh yadav,48,male,andaman,1969,4,surendra,yadav
13,john minj,36,male,andaman,1981,2,john,minj
14,felicitus,36,female,andaman,1981,1,felicitus,None
15,aziza begum,33,female,andaman,1984,2,aziza,begum
16,amuda,31,female,andaman,1986,1,amuda,None
17,ravikant singh,28,male,andaman,1989,2,ravikant,singh
18,chote mehar,24,male,andaman,1993,2,chote,mehar
19,nazarene,27,female,andaman,1990,1,nazarene,None
20,hari ram,43,male,andaman,1974,2,hari,ram
21,umesh kumar patel,32,male,andaman,1985,3,umesh,patel
22,bhajnath majhi,47,male,andaman,1970,2,bhajnath,majhi
23,ram shundar sharma,27,male,andaman,1990,3,ram,sharma
24,chintala shanmokha rao,38,male,andaman,1979,3,chintala,rao
25,srinivas,45,male,andaman,1972,1,srinivas,None
26,ravi shankar yadav,28,male,andaman,1989,3,ravi,yadav
27,ajay kumar,31,male,andaman,1986,2,ajay,kumar
28,rojaliya ekka,25,female,andaman,1992,2,rojaliya,ekka
29,recheal,45,female,andaman,1972,1,recheal,None
...,...,...,...,...,...,...,...,...
35683881,mabu shareef shaik,24,male,andhra,1993,3,mabu,shaik
35683882,khajabee shaik,37,female,andhra,1980,2,khajabee,shaik
35683883,ramthu basha shaik,45,male,andhra,1972,3,ramthu,shaik
35683884,hostel,44,male,andhra,1973,1,hostel,None
35683885,hostel,38,female,andhra,1979,1,hostel,None
35683886,hussain sayed,21,male,andhra,1996,2,hussain,sayed
35683887,hareesh kumar tanguturu,23,male,andhra,1994,3,hareesh,tanguturu
35683888,hari krishna tanguturu,22,male,andhra,1995,3,hari,tanguturu
35683889,muntaj begam sayyad,44,female,andhra,1973,3,muntaj,sayyad
35683890,subbarathnamma t,42,female,andhra,1975,2,subbarathnamma,t
35683891,haseena begam sayyad,71,female,andhra,1946,3,haseena,sayyad
35683892,venkatasubbamma katakam,56,female,andhra,1961,2,venkatasubbamma,katakam
35683893,supraja katakam,26,female,andhra,1991,2,supraja,katakam
35683894,venkata subbaiah,34,male,andhra,1983,2,venkata,subbaiah
35683895,pitchaiah pavan,28,male,andhra,1989,2,pitchaiah,pavan
35683896,jarina begam shaik,36,female,andhra,1981,3,jarina,shaik
35683897,sreenivasulu koneti,62,male,andhra,1955,2,sreenivasulu,koneti
35683898,sredevi nareddy,43,female,andhra,1974,2,sredevi,nareddy
35683899,venkata subbaiah raddugare,63,male,andhra,1954,3,venkata,raddugare
35683900,zehara shaik,25,female,andhra,1992,2,zehara,shaik
35683901,shahida bee erraballe,40,female,andhra,1977,3,shahida,erraballe
35683902,kavitha kesa,38,female,andhra,1979,2,kavitha,kesa
35683903,sai akhil kandanuru,18,male,andhra,1999,3,sai,kandanuru
35683904,lakshmi devi maddam,20,female,andhra,1997,3,lakshmi,maddam
35683905,varalakshmi mutyalapadu,22,female,andhra,1995,2,varalakshmi,mutyalapadu
35683906,kailash bhople,18,male,andhra,1999,2,kailash,bhople
35683907,venkatamma madisetty,54,female,andhra,1963,2,venkatamma,madisetty
35683908,sivamma balisetti,31,female,andhra,1986,2,sivamma,balisetti
35683909,ameer shaik,45,male,andhra,1972,2,ameer,shaik
35683910,hari ramisetty,18,male,andhra,1999,2,hari,ramisetty

In [11]:
df.loc[df.first_name.notnull() & (df.first_name.str.len() <= 2), 'first_name'] = None
df.loc[df.last_name.notnull() & (df.last_name.str.len() <= 2), 'last_name'] = None
df

,elector_name,age,sex,state,birth_year,name_wc,first_name,last_name
0,pintu datta,38,male,andaman,1979,2,pintu,datta
1,sushila devi,39,female,andaman,1978,2,sushila,devi
2,bala krishna,29,male,andaman,1988,2,bala,krishna
3,chandra sekhar,45,male,andaman,1972,2,chandra,sekhar
4,sikander,49,male,andaman,1968,1,sikander,None
5,manimecalai,31,female,andaman,1986,1,manimecalai,None
6,elmer,23,female,andaman,1994,1,elmer,None
7,marianus toppo,47,male,andaman,1970,2,marianus,toppo
8,wilson,27,male,andaman,1990,1,wilson,None
9,jyothi kiran,42,female,andaman,1975,2,jyothi,kiran
10,alexus ekka,40,male,andaman,1977,2,alexus,ekka
11,minol ekka,37,male,andaman,1980,2,minol,ekka
12,surendra nath singh yadav,48,male,andaman,1969,4,surendra,yadav
13,john minj,36,male,andaman,1981,2,john,minj
14,felicitus,36,female,andaman,1981,1,felicitus,None
15,aziza begum,33,female,andaman,1984,2,aziza,begum
16,amuda,31,female,andaman,1986,1,amuda,None
17,ravikant singh,28,male,andaman,1989,2,ravikant,singh
18,chote mehar,24,male,andaman,1993,2,chote,mehar
19,nazarene,27,female,andaman,1990,1,nazarene,None
20,hari ram,43,male,andaman,1974,2,hari,ram
21,umesh kumar patel,32,male,andaman,1985,3,umesh,patel
22,bhajnath majhi,47,male,andaman,1970,2,bhajnath,majhi
23,ram shundar sharma,27,male,andaman,1990,3,ram,sharma
24,chintala shanmokha rao,38,male,andaman,1979,3,chintala,rao
25,srinivas,45,male,andaman,1972,1,srinivas,None
26,ravi shankar yadav,28,male,andaman,1989,3,ravi,yadav
27,ajay kumar,31,male,andaman,1986,2,ajay,kumar
28,rojaliya ekka,25,female,andaman,1992,2,rojaliya,ekka
29,recheal,45,female,andaman,1972,1,recheal,None
...,...,...,...,...,...,...,...,...
35683881,mabu shareef shaik,24,male,andhra,1993,3,mabu,shaik
35683882,khajabee shaik,37,female,andhra,1980,2,khajabee,shaik
35683883,ramthu basha shaik,45,male,andhra,1972,3,ramthu,shaik
35683884,hostel,44,male,andhra,1973,1,hostel,None
35683885,hostel,38,female,andhra,1979,1,hostel,None
35683886,hussain sayed,21,male,andhra,1996,2,hussain,sayed
35683887,hareesh kumar tanguturu,23,male,andhra,1994,3,hareesh,tanguturu
35683888,hari krishna tanguturu,22,male,andhra,1995,3,hari,tanguturu
35683889,muntaj begam sayyad,44,female,andhra,1973,3,muntaj,sayyad
35683890,subbarathnamma t,42,female,andhra,1975,2,subbarathnamma,None
35683891,haseena begam sayyad,71,female,andhra,1946,3,haseena,sayyad
35683892,venkatasubbamma katakam,56,female,andhra,1961,2,venkatasubbamma,katakam
35683893,supraja katakam,26,female,andhra,1991,2,supraja,katakam
35683894,venkata subbaiah,34,male,andhra,1983,2,venkata,subbaiah
35683895,pitchaiah pavan,28,male,andhra,1989,2,pitchaiah,pavan
35683896,jarina begam shaik,36,female,andhra,1981,3,jarina,shaik
35683897,sreenivasulu koneti,62,male,andhra,1955,2,sreenivasulu,koneti
35683898,sredevi nareddy,43,female,andhra,1974,2,sredevi,nareddy
35683899,venkata subbaiah raddugare,63,male,andhra,1954,3,venkata,raddugare
35683900,zehara shaik,25,female,andhra,1992,2,zehara,shaik
35683901,shahida bee erraballe,40,female,andhra,1977,3,shahida,erraballe
35683902,kavitha kesa,38,female,andhra,1979,2,kavitha,kesa
35683903,sai akhil kandanuru,18,male,andhra,1999,3,sai,kandanuru
35683904,lakshmi devi maddam,20,female,andhra,1997,3,lakshmi,maddam
35683905,varalakshmi mutyalapadu,22,female,andhra,1995,2,varalakshmi,mutyalapadu
35683906,kailash bhople,18,male,andhra,1999,2,kailash,bhople
35683907,venkatamma madisetty,54,female,andhra,1963,2,venkatamma,madisetty
35683908,sivamma balisetti,31,female,andhra,1986,2,sivamma,balisetti
35683909,ameer shaik,45,male,andhra,1972,2,ameer,shaik
35683910,hari ramisetty,18,male,andhra,1999,2,hari,ramisetty

In [12]:
df[df.first_name.isnull()]

,elector_name,age,sex,state,birth_year,name_wc,first_name,last_name
77,r elizah,28,male,andaman,1989,2,None,elizah
99,re eeza begum,24,female,andaman,1993,3,None,begum
114,b keshav rao,53,male,andaman,1964,3,None,rao
129,m pandi rajamma,35,female,andaman,1982,3,None,rajamma
166,c poongodai,35,female,andaman,1982,2,None,poongodai
203,n laxmi,34,female,andaman,1983,2,None,laxmi
281,r sulakshana,48,female,andaman,1969,2,None,sulakshana
619,y polina,80,female,andaman,1937,2,None,polina
623,a kameshwari,28,female,andaman,1989,2,None,kameshwari
677,m shiva subramaniam,40,male,andaman,1977,3,None,subramaniam
712,p k asma bibi,30,female,andaman,1987,4,None,bibi
741,m subha raj,36,male,andaman,1981,3,None,raj
755,r p chokalingam machi basti,31,female,andaman,1986,5,None,basti
801,b dharma rao,53,male,andaman,1964,3,None,rao
805,e selvaraj,31,male,andaman,1986,2,None,selvaraj
1098,r kumar,46,male,andaman,1971,2,None,kumar
1641,s cherry abelton,25,male,andaman,1992,3,None,abelton
2023,d kameswara rao,46,male,andaman,1971,3,None,rao
2058,s rajaiya,25,male,andaman,1992,2,None,rajaiya
2061,m nagajyothi,36,female,andaman,1981,2,None,nagajyothi
2244,g punitha,26,female,andaman,1991,2,None,punitha
2250,b surya deepa,26,female,andaman,1991,3,None,deepa
2284,b b singh,48,male,andaman,1969,3,None,singh
2290,s kumarswamy,52,male,andaman,1965,2,None,kumarswamy
2301,a rakalakshmi,34,female,andaman,1983,2,None,rakalakshmi
2312,r bala krishnan,24,male,andaman,1993,3,None,krishnan
2400,g shubham,23,male,andaman,1994,2,None,shubham
2428,p swathi,25,female,andaman,1992,2,None,swathi
2492,g gopinath,18,male,andaman,1999,2,None,gopinath
2499,s rekha,41,female,andaman,1976,2,None,rekha
...,...,...,...,...,...,...,...,...
35683137,r anand,24,male,andhra,1993,2,None,anand
35683139,s lalitha,22,female,andhra,1995,2,None,lalitha
35683142,s muthkumar,22,male,andhra,1995,2,None,muthkumar
35683145,m anjali,26,female,andhra,1991,2,None,anjali
35683146,m radha,28,female,andhra,1989,2,None,radha
35683160,k balaji,53,male,andhra,1964,2,None,balaji
35683161,c tamila selvan,40,male,andhra,1977,3,None,selvan
35683166,m bharath,29,male,andhra,1988,2,None,bharath
35683167,k muneppa,45,male,andhra,1972,2,None,muneppa
35683185,t shoba,35,female,andhra,1982,2,None,shoba
35683186,m prakash,28,male,andhra,1989,2,None,prakash
35683195,s palani,27,male,andhra,1990,2,None,palani
35683196,a priya,24,female,andhra,1993,2,None,priya
35683197,s singaravelu,21,male,andhra,1996,2,None,singaravelu
35683198,m dilipkumar,21,male,andhra,1996,2,None,dilipkumar
35683203,r murugamma,29,female,andhra,1988,2,None,murugamma
35683205,n sangeetha,22,female,andhra,1995,2,None,sangeetha
35683206,a saranya,24,female,andhra,1993,2,None,saranya
35683207,e padma,61,female,andhra,1956,2,None,padma
35683210,n kumareshan,43,male,andhra,1974,2,None,kumareshan
35683213,t pransis dayanandan,47,male,andhra,1970,3,None,dayanandan
35683214,g nandini,25,female,andhra,1992,2,None,nandini
35683231,v renuka,25,female,andhra,1992,2,None,renuka
35683232,g subramanyam,29,male,andhra,1988,2,None,subramanyam
35683233,g sudakar,26,male,andhra,1991,2,None,sudakar
35683234,g sundaresh,23,male,andhra,1994,2,None,sundaresh
35683237,s raja,29,male,andhra,1988,2,None,raja
35683245,s pavan kumar,19,male,andhra,1998,3,None,kumar
35683246,r reka,25,female,andhra,1992,2,None,reka
35683867,c. venkata subbaiah,52,male,andhra,1965,3,None,subbaiah

In [13]:
df[df.last_name.isnull()]

,elector_name,age,sex,state,birth_year,name_wc,first_name,last_name
4,sikander,49,male,andaman,1968,1,sikander,None
5,manimecalai,31,female,andaman,1986,1,manimecalai,None
6,elmer,23,female,andaman,1994,1,elmer,None
8,wilson,27,male,andaman,1990,1,wilson,None
14,felicitus,36,female,andaman,1981,1,felicitus,None
16,amuda,31,female,andaman,1986,1,amuda,None
19,nazarene,27,female,andaman,1990,1,nazarene,None
25,srinivas,45,male,andaman,1972,1,srinivas,None
29,recheal,45,female,andaman,1972,1,recheal,None
30,manisha,25,female,andaman,1992,1,manisha,None
34,sukanandan,42,male,andaman,1975,1,sukanandan,None
35,lilian,44,female,andaman,1973,1,lilian,None
46,gunasekharan,40,male,andaman,1977,1,gunasekharan,None
52,tamaris,41,female,andaman,1976,1,tamaris,None
53,rizba,23,female,andaman,1994,1,rizba,None
54,dominic,51,male,andaman,1966,1,dominic,None
56,martha,40,female,andaman,1977,1,martha,None
57,robert,48,male,andaman,1969,1,robert,None
58,jackson,45,male,andaman,1972,1,jackson,None
62,debya,24,female,andaman,1993,1,debya,None
65,yathavathi,46,female,andaman,1971,1,yathavathi,None
68,elayaraja,38,male,andaman,1979,1,elayaraja,None
71,nimitha,24,female,andaman,1993,1,nimitha,None
88,deepa,25,female,andaman,1992,1,deepa,None
89,katherine,40,female,andaman,1977,1,katherine,None
93,jeewanti,26,female,andaman,1991,1,jeewanti,None
94,salomie,34,female,andaman,1983,1,salomie,None
95,richinal,48,male,andaman,1969,1,richinal,None
96,rosillia,28,female,andaman,1989,1,rosillia,None
98,bunisha,44,female,andaman,1973,1,bunisha,None
...,...,...,...,...,...,...,...,...
35683228,vanaja,32,female,andhra,1985,1,vanaja,None
35683229,rajendran,37,male,andhra,1980,1,rajendran,None
35683235,muniraju,55,male,andhra,1962,1,muniraju,None
35683236,velu,32,male,andhra,1985,1,velu,None
35683240,baabu,35,male,andhra,1982,1,baabu,None
35683241,kumar,30,male,andhra,1987,1,kumar,None
35683242,betappa,54,male,andhra,1963,1,betappa,None
35683243,es.puroshottam,40,male,andhra,1977,1,es.puroshottam,None
35683244,gowtham m,19,male,andhra,1998,2,gowtham,None
35683247,thimmarayan,36,male,andhra,1981,1,thimmarayan,None
35683381,venkatalakshumma,52,female,andhra,1965,1,venkatalakshumma,None
35683413,venkateswarlu,33,male,andhra,1984,1,venkateswarlu,None
35683414,venkatasubbamma t.,47,female,andhra,1970,2,venkatasubbamma,None
35683447,muthu,41,male,andhra,1976,1,muthu,None
35683448,guraiah,69,male,andhra,1948,1,guraiah,None
35683479,subbaiah,70,male,andhra,1947,1,subbaiah,None
35683601,nageshwara r,39,male,andhra,1978,2,nageshwara,None
35683621,venkata subbamma e,23,female,andhra,1994,3,venkata,None
35683622,lakshmi devi e,21,female,andhra,1996,3,lakshmi,None
35683636,chinnakka k,48,female,andhra,1969,2,chinnakka,None
35683647,naresh babu a,21,male,andhra,1996,3,naresh,None
35683680,sudhakar,50,male,andhra,1967,1,sudhakar,None
35683733,lakshmidevi b,32,female,andhra,1985,2,lakshmidevi,None
35683750,venkat kumari p,33,female,andhra,1984,3,venkat,None
35683856,subbarao k,42,male,andhra,1975,2,subbarao,None
35683866,ramalakshumma t,47,female,andhra,1970,2,ramalakshumma,None
35683871,subbarayudu,30,male,andhra,1987,1,subbarayudu,None
35683884,hostel,44,male,andhra,1973,1,hostel,None
35683885,hostel,38,female,andhra,1979,1,hostel,None
35683890,subbarathnamma t,42,female,andhra,1975,2,subbarathnamma,None

In [14]:
del df['name_wc']

In [15]:
df.to_csv('/opt/data/in_rolls/in_rolls_state_name_age_sex_fn_ln.csv.gz', index=False, compression='gzip')