In [1]:
%cd /content/drive/MyDrive/Colab/naampy/data

/content/drive/MyDrive/Colab/naampy/data

In [2]:
%ls

in_rolls_state_year_fn_naampy_100.csv  naampy_final.csv

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('in_rolls_state_year_fn_naampy_100.csv')

In [5]:
df.head()

,state,birth_year,first_name,n_female,n_male,n_third_gender,prop_female
0,andaman,1898.0,hiramani,1,0,0,1.0
1,andaman,1898.0,sabha,1,0,0,1.0
2,andaman,1902.0,samir,0,1,0,0.0
3,andaman,1904.0,siri,0,1,0,0.0
4,andaman,1905.0,cyril,0,1,0,0.0

In [6]:
agg_dict = {'n_female': 'sum', 'n_male': 'sum'}

In [7]:
df = df.groupby(['first_name']).agg(agg_dict).reset_index()

In [8]:
df.head()

  first_name  n_female  n_male
0         aa       948   20244
1        aaa        83     236
2       aaaa       101      35
3   aaaamsoo      1375     661
4      aaaan         3     100

In [9]:
df['gender'] = ['female' if n_female > n_male else 'male' for n_female,n_male in zip(df['n_female'], df['n_male'])]

In [10]:
df.head()

  first_name  n_female  n_male  gender
0         aa       948   20244    male
1        aaa        83     236    male
2       aaaa       101      35  female
3   aaaamsoo      1375     661  female
4      aaaan         3     100    male

In [11]:
df[df['first_name'] == 'amitabh']

     first_name  n_female  n_male gender
8219    amitabh         0     704   male

In [12]:
df['female_prop'] = [ (n_female/(n_male+n_female))  for n_female, n_male in zip(df['n_female'], df['n_male'])]

In [15]:
df['male_prop'] = [ (n_male/(n_male+n_female))  for n_female, n_male in zip(df['n_female'], df['n_male'])]

In [16]:
df.head()

  first_name  n_female  n_male  gender  female_prop  male_prop
0         aa       948   20244    male     0.044734   0.955266
1        aaa        83     236    male     0.260188   0.739812
2       aaaa       101      35  female     0.742647   0.257353
3   aaaamsoo      1375     661  female     0.675344   0.324656
4      aaaan         3     100    male     0.029126   0.970874

In [18]:
df[['first_name', 'gender', 'female_prop']].to_csv('naampy_final_prop.csv', index=False)